__pycache__/
data/eilat_data/*
data/talmon_data/*
data/eilat_data/boat_data_eilat2021_startEndTimes.mat
helper_funcs/__pycache__/
models/model*
helper_funcs/inference_output_test-data.txt
helper_funcs/inference_output_train-data.txt
helper_funcs/plotWav.py