__pycache__/
data/test_data/*.flac
data/test_data/*.txt
data/train_data/*.flac
data/train_data/*.txt
data/train_demon_mats/*.pkl
data/test_demon_mats/*.pkl
data/boat_data_eilat2021_startEndTimes.mat
helper_funcs/__pycache__/
models/model*